.nav-container {
  background-color: #f8fafc;
  padding: 30px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo-container {
  display: flex;
  align-items: center;
}
.nav-logo {
  height: 50px;
  width: 60px;
  margin-right: 15px;
}
.nav-heading {
  color: #f7931e;
  font-size: 20px;
  font-weight: bold;
}
.hamburger-button {
  background-color: transparent;
  border: 0px;
}
.hamburger-icon {
  height: 25px;
  width: 25px;
}
.nav-list {
  display: flex;
  align-items: center;
  padding: 0px;
}
.nav-item-home {
  list-style-type: none;
  margin-right: 20px;
  font-size: 18px;
  color: rgba(51, 65, 85, 1);
  font-weight: bold;
}
.link-item {
  text-decoration: none;
}
.nav-item-cart {
  list-style-type: none;
  margin-right: 20px;
  font-size: 18px;
  color: #f7931e;
}
.logout-button {
  background-color: #f7931e;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  height: 30px;
  width: 80px;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close-icon {
  height: 25px;
  width: 25px;
}
.close-button {
  background-color: transparent;
  border: 0px;
}
#nav-des {
  display: none;
}
@media (min-width: 768px) {
  #nav-des {
    display: inline-flex;
  }
  .nav-items-container {
    display: none;
  }
  .hamburger-button {
    display: none;
  }
}
