.food-list {
  list-style: none;
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .food-list {
    display: flex;
    width: 49%;
  }
}
@media screen and (min-width: 992px) {
  .food-list {
    display: flex;
    width: 32%;
  }
}

.food-image {
  width: 150px;
  height: 100%;
  border-radius: 8px;
  margin-right: 10px;
}

.food-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.food-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #334155;
  margin: 0px;
}

@media screen and (min-width: 992px) {
  .food-name {
    font-size: 15px;
    line-height: 20px;
  }
}

.cost-div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.food-cost {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #334155;
  margin: 0px;
}

@media screen and (min-width: 992px) {
  .food-cost {
    font-size: 14px;
    line-height: 20px;
  }
}

.food-rating-div {
  display: flex;
  align-items: center;
}

.food-rating {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #334155;
  margin: 0px;
}

.food-add-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  border: 2px solid #ffa412;
  box-sizing: border-box;
  border-radius: 8px;
  width: 55px;
  height: 30px;
  color: #ffa412;
  background: none;
  cursor: pointer;
  outline: none;
}

.cart-quantity {
  display: flex;
  align-items: center;
}

.decrement-count {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.increment-count {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.quantity-icon {
  color: #475569;
  width: 16px;
  height: 14px;
  background: none;
  border: none;
  outline: none;
}

.active-count {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  color: #475569;
}
